#titulo {
    text-align: center;
    color: #000000;
    font-size: 36px;
    margin-top: 20px;
}
.descripcion {
    text-align: center;
    color: #666666;
    font-size: 18px;
    margin: 10px 20px 30px 20px;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #da9863;
    color: #333;

}
h1 {
    color: #000000;
    text-align: center;
    padding: 20px;
}
p {
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}
.card {
    background-color: #ffa4a4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
}
.boton {
    background-color: #4c56af;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}
ul{
    list-style-type: circle;
    margin: 20px;
    padding: 0px;
}
li {
    margin: 10px 0;
}
.boton:hover {
    background-color: #a2a1d6;
}
@media (max-width: 768px) {
  
  .card {
    background-color: #ca76ca;
  }
}